.login {
  height: 100%;
  .form {
    width: 480px;
    margin: 20% auto;
    padding: 24px;
    box-shadow: 0 0 20px #efefef;
    border-radius: 6px;
    .title {
      text-align: center;
      margin-bottom: 45px;
    }
  }
}
